.a{
    background-color:white;
    padding: 20px;
    color: azure;

}
.b{
    text-align: center;
    color: brown;
}
.c{
    text-align: center;
    color: black;

}
.d{
    align-items: center;
}